<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
            <p class="category">Aviso Prévio Trabalhado / Idenizado</p>
        </div>
        <div class="card-body">
          <form [formGroup]="fGNoticeTermination">
            <div *ngIf="status === 1">
              <div class="alert alert-danger">
                <button type="button" aria-hidden="true" class="close">
                  <i class="now-ui-icons ui-1_simple-remove"></i>
                </button>
                <span *ngIf="fGNoticeTerminationField('noticeTypeId').invalid">Tipo de aviso</span>
                <span *ngIf="fGNoticeTerminationField('noticeReasonId').invalid">Motivo do desligamento</span>
                <span *ngIf="fGNoticeTerminationField('noticeDate').invalid">Data da com. do aviso</span>
                <span *ngIf="fGNoticeTerminationField('lastDay').invalid">Data do último dia de trabalho</span>
                <span *ngIf="fGNoticeTerminationField('endDate').invalid">Data prevista do desligamento</span>
                <span *ngIf="fGNoticeTerminationField('noticeStatus').invalid">Cancelar o aviso prévio</span>
                <span *ngIf="fGNoticeTerminationField('noticeTypeWorkedId').invalid">Tipo de aviso prévio trabalhado</span>
                <span *ngIf="fGNoticeTerminationField('cancelDate').invalid">Data cancelamento o aviso</span>
                <span *ngIf="fGNoticeTerminationField('cancelNoticeReasonId').invalid">Motivo do desligamento</span>
              </div>
            </div>
            <div *ngIf="status === 2">
              <div class="alert alert-danger">
                <button type="button" aria-hidden="true" class="close">
                  <i class="now-ui-icons ui-1_simple-remove"></i>
                </button>
                <span>{{ message }}</span>
              </div>
            </div>
            <div *ngIf="status === 0">
              <div class="alert alert-success">
                <button type="button" aria-hidden="true" class="close">
                  <i class="now-ui-icons ui-1_simple-remove"></i>
                </button>
                <span>{{ message }}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5 pr-1">
                <div class="form-group">
                    <label class="mr-sm-2" for="inlineFormCustomSelect">Empregado</label>
                    <select class="custom-select mr-sm-2" id="employeeId" formControlName="employeeId">
                      <option *ngFor="let item of employees" value="{{ item.id }}">{{ item.name }}</option>
                    </select>                    
                </div>
              </div>
              <div class="col-md-3 pr-1">
                <div class="form-group">
                    <label class="mr-sm-2" for="inlineFormCustomSelect">Tipo de aviso</label>
                    <select class="custom-select mr-sm-2" id="noticeTypeId" formControlName="noticeTypeId">
                      <option [selected]="" disabled [ngValue]="null">Tipo de aviso</option>
                      <option *ngFor="let item of typesNotices" value="{{ item.id }}">{{ item.name }}</option>
                    </select>                    
                </div>
              </div>
              <div class="col-md-3 pr-1">
                <div class="form-group">
                    <label class="mr-sm-2" for="inlineFormCustomSelect">Motivo do desligamento</label>
                    <select class="custom-select mr-sm-2" id="noticeReasonId" formControlName="noticeReasonId">
                      <option [selected]="" disabled [ngValue]="null">Motivo do desligamento</option>
                      <option *ngFor="let item of reasonsNotices" value="{{ item.id }}">{{ item.name }}</option>
                    </select>                    
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 pr-1">
                <div class="form-group">
                  <label class="mr-sm-2">Data da com. do aviso</label>
                  <input type="date" id="noticeDate" name="noticeDate" class="form-control" formControlName="noticeDate">
                </div>
              </div>
              <div class="col-md-3 pr-1">
                <div class="form-group">
                  <label class="mr-sm-2">Data do último dia de trabalho</label>
                  <input type="date" id="lastDay" name="lastDay" class="form-control" formControlName="lastDay">
                </div>
              </div>
              <div class="col-md-3 pr-1">
                <div class="form-group">
                  <label class="mr-sm-2">Data prevista do desligamento</label>
                  <input type="date" id="endDate" name="endDate" class="form-control" formControlName="endDate">
                </div>
              </div>
              <div class="col-md-2 pr-1">
                <div class="form-group">
                    <label class="mr-sm-2" for="inlineFormCustomSelect">Cancelar o aviso prévio</label>
                    <select class="custom-select mr-sm-2" id="noticeStatus" formControlName="noticeStatus">
                        <option [selected]="" disabled [ngValue]="null">Motivo do prévio</option>
                        <option value="S">Sim</option>
                        <option value="N">não</option>
                    </select>                    
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-3 pr-1">
                    <div class="form-group">
                        <label class="mr-sm-2" for="inlineFormCustomSelect">Tipo de aviso prévio trabalhado</label>
                        <select class="custom-select mr-sm-2" id="noticeTypeWorkedId" formControlName="noticeTypeWorkedId">
                            <option [selected]="" disabled [ngValue]="null">Tipo de aviso prévio trabalhado</option>
                            <option *ngFor="let item of typesNoticesWorked" value="{{ item.id }}">{{ item.name }}</option>
                        </select>                    
                    </div>
                </div>
                <div class="col-md-3 pr-1">
                  <div class="form-group">
                    <label class="mr-sm-2">Data cancelamento o aviso</label>
                    <input type="date" id="cancelDate" name="cancelDate" class="form-control" formControlName="cancelDate">
                  </div>
                </div>
                <div class="col-md-3 pr-1">
                  <div class="form-group">
                      <label class="mr-sm-2" for="inlineFormCustomSelect">Motivo do desligamento</label>
                      <select class="custom-select mr-sm-2" id="cancelNoticeReasonId" formControlName="cancelNoticeReasonId">
                          <option [selected]="" disabled [ngValue]="null">Motivo do cancelamento do aviso prévio</option>
                          <option *ngFor="let item of reasonsCancelingNotice" value="{{ item.id }}">{{ item.name }}</option>
                      </select>                    
                  </div>
              </div>
              <div class="col-auto my-1">
                <button type="submit" class="btn btn-primary" (click)="saveMessage(actionNoticeTermination)">Salvar</button>
              </div>
            </div>
            <ng-template #actionNoticeTermination let-modal>
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">{{ titleModal }}</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {{ messageModal }}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancelar</button>
                <button type="submit" class="btn btn-outline-dark" (click)="save()">{{ actiomModal }}</button>
              </div>
            </ng-template>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
