<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
            <p class="category">{{ title }}</p>
        </div>
        <div class="card-body">
            <div *ngIf="status === 2">
                <div class="alert alert-danger">
                  <button type="button" aria-hidden="true" class="close">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                  </button>
                  <span>{{ message }}</span>
                </div>
              </div>
              <div *ngIf="status === 0">
                <div class="alert alert-success">
                  <button type="button" aria-hidden="true" class="close">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                  </button>
                  <span>{{ message }}</span>
                </div>
              </div>
            <form [formGroup]="fGPreliminaryRegistration" novalidate="" class="ng-untouched ng-pristine ng-valid">
                <div *ngIf="status === 1">
                    <div class="alert alert-danger">
                      <button type="button" aria-hidden="true" class="close">
                        <i class="now-ui-icons ui-1_simple-remove"></i>
                      </button>
                      <span *ngIf="fGPreliminaryRegistrationField('name').invalid">Nome do empregado</span>
                      <span *ngIf="fGPreliminaryRegistrationField('gender').invalid">Sexo</span>
                      <span *ngIf="fGPreliminaryRegistrationField('documentId').invalid">CPF</span>
                      <span *ngIf="fGPreliminaryRegistrationField('dateBirth').invalid">Data Nascimento</span>
                      <span *ngIf="fGPreliminaryRegistrationField('admissionDate').invalid">Data de Admissão</span>
                    </div>
                </div>
                <div class="row left-pad35">
                    <div class="col-md-8 px-1">
                        <div class="form-group">
                            <label>Nome do empregado</label>
                            <input class="form-control" placeholder="Nome do Empregados" type="text" value="" formControlName="name">
                        </div>
                    </div>
                </div>
                <div class="row left-pad35">
                    <div class="col-md-2 pr-1">
                        <div class="form-group">
                            <label class="mr-sm-2" for="inlineFormCustomSelect">Sexo</label>
                            <select class="custom-select mr-sm-2" id="gender" formControlName="gender">
                                <option [selected]="" disabled [ngValue]="null">Sexo</option>
                                <option value="M">Masculino</option>
                                <option value="F">Feminino</option>
                            </select>                    
                        </div>
                    </div>
                    <div class="col-md-3 px-1">
                        <div class="form-group">
                            <label>CPF</label>
                            <input class="form-control" placeholder="CPF" type="text" value="" formControlName="documentId">
                        </div>
                    </div>
                    <div class="col-md-3 pr-1">
                        <div class="form-group">
                          <label class="mr-sm-2">Data Nascimento</label>
                          <input type="date" id="dateBirth" name="dateBirth" class="form-control" formControlName="dateBirth">
                        </div>
                    </div>
                    <div class="col-md-3 pr-1">
                        <div class="form-group">
                          <label class="mr-sm-2">Data de Admissão</label>
                          <input type="date" id="admissionDate" name="admissionDate" class="form-control" formControlName="admissionDate">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto my-1">
                      <button type="submit" class="btn btn-primary" (click)="deleteMessage(actionSchoolCalendar)">Excluir</button> 
                      <button type="submit" class="btn btn-primary" (click)="saveMessage(actionSchoolCalendar)">{{ actiomModal }}</button> 
                    </div>
                </div>
            </form>
        </div>
        <ng-template #actionSchoolCalendar let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">{{ titleModal }}</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              {{ messageModal }}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancelar</button>
              <button *ngIf="actiomModal === 'Salvar' || actiomModal === 'Atualizar'" type="submit" class="btn btn-outline-dark" (click)="save()">{{ actiomModal }}</button>
              <button *ngIf="actiomModal === 'Excluir'" type="submit" class="btn btn-outline-dark" (click)="delete()">{{ actiomModal }}</button> 
            </div>
          </ng-template>
    </div>
  </div>
</div>